.active{
    color: blue;
    font-weight: bold;
}

.noActive{
    color: grey
}

* {
    padding: 0;
    margin: 0;
    
}
/* p {
    margin: 1em;
} */

.cols {
    height: 2em;
    align-items: center;
    padding: 5%;
    margin-bottom: 10%;
    display: flexbox;
    

}
    .col1 {
        
        width: 49%;
    }
    .col2 {
        
        width: 49%;
        
        margin-left: 70%;
        padding-bottom: 10em ;
        text-align: left;
        
    }
    .col1,
    .col2 {
        display: inline-block;
        
        height: 50%;
    }

    